@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-soft-green-50 text-slate-800 antialiased font-sans m-0 p-0 h-screen w-screen overflow-hidden;
    scrollbar-gutter: stable;
  }
  
  /* Remove arrows from number inputs */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }
}

/* Global scale transition for Copy icons */
.scale-enter-active, .scale-leave-active {
  transition: all 0.2s ease;
}
.scale-enter-from, .scale-leave-to {
  opacity: 0;
  transform: scale(0.5);
}
