@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-soft-green-50 text-slate-800 antialiased font-sans m-0 p-0 h-screen w-screen overflow-hidden;
  }
  
  /* Remove arrows from number inputs */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }
}
